/* Projeto desenvolvido usando BEM CSS */
/* BLOCK = .block || .block_subBlock*/
/* ELEMENT = .block-element */
/* MODIFIER = .block-element--modifier */
/* +++++++++++++++ GERAL +++++++++++++++++++ */
a{
    color: #fff;
    font-size: 1.3em;
    font-family: sans-serif;
}
/* +++++++++++++++ BLOCK +++++++++++++++++++ */
.siteStar_header{
    background: linear-gradient(to right bottom, #555, #222);
    padding: 10px;
    
}
/* +++++++++++++++ ELEMENT +++++++++++++++++++ */
.siteStar_header_left-icon{
    height: 120px;
    width: 120px;
}
.siteStar_header_right li{
    display: inline-block;
    padding: 20px;
}
/* +++++++++++++++ MODIFIER +++++++++++++++++++ */